[2016-01-24 17:24] legendOfZelda opened #2 "always derive from object + deciding on python version"
in 2.x one should always derive from object otherwise old-style classes are created which leads to some issues. in 3.x this is no longer needed.

which python version do you think we should be using?
almost all deps in requirements.txt are covered by either the `conda` or the `pip` repo:

Flask				flask-0.10.1-py35_1.tar.bz2
Flask-Cache			https://pypi.python.org/pypi/Flask-Cache/0.13.1
flask_sqlal

[2016-02-18 23:35] njmattes opened #6 "NetCDF Metadata in models.py"
These are merely questions or observations—I'm not sure the best way to handle most of this.

* `dataset_name`: Would it be better to use an automatically incremented integer for the `primary_key`? Eg, what if two files have the same name? Perhaps a deviant case, but very possible.
* Spatial resolution: should we store this explicitly in a column? Or infer it from the latitude and longitude?
* Tem

[2016-02-19 14:47] legendOfZelda opened #7 "replace raster2pgsql with your own version (if not too cumbersome)"
raster2pgsql is not flexible enough for our needs because:

* it fails on other netcdfs @abrizius gave me (it fails with saying : 'there are no bands in it') + digging through the C source code of raster2pgsql to find out the reason for that failure quickly turned out to be too cumbersome
* it only allows you to add the filename of the ingested netcdf as an additional column (through the `-F -n [c

[2016-02-20 19:25] legendOfZelda opened #8 "EDE survey"
some small suggestions for the EDE survey @cszc

"In my research I primarily work with:"
=> distinguish between semantics of data VS data format VS how data comes in i.e.
[social, climate] VS [point-/grid-based] VS [batch/streaming]

"Kinds of Datasets"
* maybe use 'structured text' as a synonym for 'surveys' or write 'structured text, e.g. surveys'
* "model output"? more specific or leave it out

[2016-02-20 22:09] legendOfZelda opened #9 "check if some crucial operations work within postgis"
check if you can run the following ops using postgis functionality:

1. select ( lat, lon, var(t, lat, lon) ) of tiles that intersect with some rectangle + time t is fixed (dragging on leaflet/D3 map)
2. select ( lat, lon, var(t, lat, lon) ) with (lat, lon) in some region + time t is fixed (on a region- not tile-basis as in 1)
3. compute average of var(t, lat, lon) over (lat,lon) within some polyg

[2016-02-21 13:34] njmattes opened #10 "Operations and units"
When we let the user make arbitrary operations on multiple datasets, we're going to have to make that same operations on the units. I think we'll have to use something like `sympy` to operate on units in tandem with the `numpy` operations on the numeric arrays.

[2016-02-22 04:11] legendOfZelda opened #11 "using anaconda"
@njmattes @ricardobarroslourenco i want to use `Anaconda` instead of `pip` + `virtualenv` because it also takes care of C(++) deps, in particular for HDF4,5. the `Anaconda` repo has the latest (or sometimes almost latest) netcdf4, gdal, psycopg2, flask, sqlalchemy (though not flask-sqlalchemy), and others

however, packages that are not in the conda repo (https://repo.continuum.io/pkgs/) can still

[2016-02-24 16:13] legendOfZelda opened #12 "automatic propagation of IDs in tables"
As we agreed, the tables we are now working with are:

https://github.com/legendOfZelda/ede_test/blob/master/schema/models.py

However, there's a little problem now. When we e.g. ingest into `netcdf_meta` the `gid` must be the same as the corresponding row in `global_meta` and similarly for the variable + raster IDs for the other tables.

Now there are basically two solutions two autopropagate the

[2016-03-03 02:54] njmattes opened #13 "Refactor"
@ricardobarroslourenco @legendOfZelda I think it might be time to refactor this rdcep/ede repo to include the various bits of code that have been worked on over the last few weeks.  I propose we start a `refactor` branch of this repo, and start collecting all the changes that have been made elsewhere. I know we've stubbed out new models and API endpoints that all should be added into this `refacto

[2016-03-03 02:58] njmattes opened #14 "Milestones"
@ricardobarroslourenco We've talked a lot over the past several weeks of dozens of possible future enhancements to EDE, on various timescales from 'as soon as possible' to 'not likely to happen before the end of times'. I think it might be useful to start adding milestones for maybe three or four timeframes for these enhancements, and adding issues to them, so that we don't forget them. What do yo

[2016-03-03 03:07] njmattes opened #15 "Metadata table(s)"
@legendOfZelda In the current db, there's a `netcdf_meta` table that stores a JSON representation of the metadata from the original NetCDF file. I thought we were including these JSON blobs in the `global_meta` table, along with a `filetype` column, since a variety of filetypes will have metadata that needs storing.

I bring it up mostly because it affects the code in the API. In some ways it does

[2016-03-03 03:19] njmattes opened #16 "Intermediate operations and cache"
@ricardobarroslourenco @legendOfZelda Imagine a user selects two grids, `A` and `B`, and wants to view the result of `A / B` (let's call it `AB*`) aggregated to GADM0. Easy enough to send a JSON blob of operation parameters to the API, and send a JSON representation of a subset of the result back to the GUI. But then imagine they want to see `AB*` aggregated to different regions, GADM1 or FPU or w

[2016-03-03 14:23] njmattes commented on #13
This morning started a `develop` branch, and a [`refactor_0316` branch](https://github.com/RDCEP/EDE/tree/refactor_0316). I'll update the server with this, do some basic testing, and then merge it into `develop` and we can continue to work there. Hope to get that done today, but I have to teach this afternoon.

[2016-03-03 14:30] legendOfZelda commented on #13
yep, need LICENSE, which is there in `refactor_0316`, good. time to get up to speed with git, certainly for me.

[2016-03-03 14:33] njmattes commented on #13
I'm not a licensing whiz unfortunately. This license contains: `Copyright (c) 2014 The University of Chicago and DataMade`. Are we obligated by the MIT license to retain the original unmodified copyright holder? Anyone know what the best practice is here?

[2016-03-03 14:35] legendOfZelda commented on #15
yes, i'll put the JSON blob into `global_meta` and get rid of `netcdf_meta`. i will have to reingest the netcdfs and for that reason won't ingest many, say only a dozen or so, just for testing purposes. i wanted to do a big ingest to see whether my ingestion script can handle all these netcdfs (though they really seem to be of the same kind, or better: of one of two kinds).

[2016-03-03 14:43] njmattes commented on #15
Yep, makes perfect sense.

[2016-03-03 14:48] legendOfZelda commented on #13
i think we should do it according to: http://programmers.stackexchange.com/questions/157968/how-to-manage-a-copyright-notice-in-an-open-source-project, i.e. according to the last 'code' block in the answer, i.e. just adding our copyright right under the existing and use 'Original work' / 'Modified work' to distinguish them.

[2016-03-03 15:05] njmattes commented on #13
I like it. So, who *is* the (c) holder of the modified code after all? Does UChicago own the (c) on the work of its staff / faculty / students? Since the DePaul subaward is funding Ricardo and I, does DePaul's IP protocol factor in (DPU doesn't take (c) ownership from its staff / faculty / students)?

[2016-03-03 15:27] legendOfZelda commented on #16
so we have 2 options: cache within the db or outside of it, i.e. within flask.
let's look at the first option.

say the db computes `A / B` to GADM0 level, then db-internally, this amounts to (at least) two steps: computing `A / B` and then doing the aggregation to GADM0. the db might not necessarily materialize `A / B` (and thus cache it) but we can probably tell it todo so.

if we want to cache

[2016-03-03 15:34] ricardobarroslourenco commented on #13
Hi folks, sorry about the delay in answering. I'm through my final works so I've been extra busy. On my way of see DePaul should have some part on this, but actually I don't know how this works. I remember some licensing discussion with @abrizius some months ago about an UChicago office that deals with this. Perhaps we should get some guidance.

[2016-03-03 15:36] ricardobarroslourenco commented on #14
Ok. I need to recap some of this stuff. I have it written down sparsely over time, but I'll consolidate on this week. It would be also good to get some extra influence of some preliminary results from @cszc also.

[2016-03-03 15:47] legendOfZelda commented on #13
it's probably going to be

[code]

where `*** = The University of Chicago and DePaul University`
but of course let's get some guidance to be on the safe side.

[2016-03-03 15:49] ricardobarroslourenco commented on #16
I agree with @legendOfZelda on this. Usually this kind of `A / B` of `GADM 0` would be done as an atomic operation, and this would not store any intermediate results. I actually don't know if Postgres has some capabilities on this, because I saw this at their [documentation](http://www.postgresql.org/docs/9.5/static/wal-reliability.html):

Which indicates to me that this kind of cache would be don

[2016-03-03 16:07] njmattes commented on #16
So is not caching any of these operation an option? Ie, are the ops fast enough in the db that there's no need for caching? If we have datasets that undergo continuous updating, I can imagine we'll eventually run into some lag from table locks. But perhaps we worry about that only when we have to.

[2016-03-03 16:08] njmattes commented on #14
Yes, that's a good idea to coordinate with @cszc. No rush really on these milestones—would just be a shame to lose track of all the potential enhancements.

[2016-03-03 16:13] ricardobarroslourenco commented on #16
Well, I actually don't know if it is possible. I need to look better on this, because actually I'm not used to work with Postgres. I agree on the point of future. I think that once loading stuff, and also with more user requests, themes such as caching, and distributing processes will emerge.

[2016-03-03 16:14] njmattes commented on #13
Last conversation I had with anyone at DePaul about this, the upshot was that DePaul wanted no ownership of intellectual property, and that the copyright / trademark / patent / etc. was wholly owned by the individual. We could always double check with [ORS](http://offices.depaul.edu/ors/Pages/default.aspx).

[2016-03-03 16:15] njmattes commented on #16
I think that's reasonable. I'm closing this issue for now, so we can focus on other items.

[2016-03-03 16:15] #16 closed

[2016-03-03 16:16] #2 closed

[2016-03-03 16:16] #6 closed

[2016-03-03 16:17] #11 closed

[2016-03-03 16:17] #12 closed

[2016-03-03 16:18] #7 closed

[2016-03-04 00:33] njmattes commented on #13
The basic refactoring is done, and has been merged with the `develop` branch. I'm closing this issue, and will open another for copyright issues. And perhaps another for more fundamental licensing questions.

[2016-03-04 00:33] #13 closed

[2016-03-04 02:02] legendOfZelda opened #17 "which git repos should be on server + how to test without getting in the way of each other on the server"
@ricardobarroslourenco @njmattes on the server, how about we remove `ede_test` (i also want to remove it entirely from my github) and only work with `ede` (using branches) which also should be owned by group `ede` not by `njmattes`. and also, let us call it `EDE` just like the repo on github, not `ede` (i think i can safely just rename it right, since it's just the top-level directory and git stil

[2016-03-04 02:18] njmattes opened #18 "Copyright"
Need to sort out the copyright holders of the modified code, so we can finalize the license.

* Seems clear that University of Chicago is listed
* Is Argonne National Labs listed as well?
* Is DePaul University listed?
* If DePaul's policy is not to take ownership, are individuals listed?
* Anyone we're missing in this list?

[2016-03-04 02:19] legendOfZelda commented on #15
i want to commit my changes soon but would be glad to resolve this #17 first.

[2016-03-04 02:35] njmattes commented on #17
Agree that we should remove the existing `ede_test`. I'd like to to leave the current `ede` as it is (although owned by `ede` group), since it's being served now by uWSGI and NGINX.

I think we could have as many clones of the repo as we want, and their containing folders can be called anything we want (eg, `ede_severin`, with an `ede` module inside, thus keeping all imports intact). Inside the `e

[2016-03-04 02:43] njmattes commented on #17
Added a `credentials.py.example` file to the repo, and refactored the ingestion code to get db settings from the `credentials`.

[2016-03-04 02:59] legendOfZelda commented on #17
great, thanx @njmattes

[2016-03-04 03:57] njmattes opened #19 "Name of id columns on database tables"
@legendOfZelda Is it possible to change the database schema so that each table's `primary_key` is called `id` (rather than eg `gid`)? `ForeignKeys` would still take names like `gid` to distinguish themselves. See the following files in the [`db_ids` branch](https://github.com/RDCEP/EDE/tree/db_ids) for a sense of what I'm talking about:

* [`ede/database.py:18–29`](https://github.com/RDCEP/EDE/blo

[2016-03-04 04:25] legendOfZelda commented on #19
i haven't used `id` so far because it's a keyword in python

[2016-03-04 07:27] #17 closed

[2016-03-04 07:29] legendOfZelda commented on #15
done, see latest commit(s) to `develop` branch : fa6e459533d29cf58c0cbdacad32e8a8f1f21615

[2016-03-04 11:40] njmattes commented on #19
Fair enough. How about `uid` then, and perhaps slightly more verbose foreign key names. See the last commit on the `db_ids` branch ([here](https://github.com/RDCEP/EDE/blob/db_ids/ede/database.py) and [here](https://github.com/RDCEP/EDE/blob/db_ids/ede/schema/models.py)).

[2016-03-04 15:47] legendOfZelda commented on #19
yes, I'm fine with [your schema](https://github.com/RDCEP/EDE/blob/db_ids/ede/schema/models.py). only minor suggestions:

* i want to call the object `Grid_Var` (singular) but the underlying table `grid_vars` (plural) because the object really stands for one row, thus singular
* similarly, i want to use `var_id` instead of `vars_id`

[2016-03-04 17:17] njmattes commented on #19
I'm fine with that. We should rip out the `@declared_attr` of the `EDEBase` object, and add `__table_name__`s back to the model objects. Do you want to do this refactor or want me to? I'm happy to do it—or to stay out of the way.

[2016-03-04 17:31] legendOfZelda commented on #19
i'll do it now

[2016-03-04 21:00] njmattes commented on #19
Works for me.

[2016-03-04 21:00] #19 closed

[2016-03-05 01:17] #15 closed

[2016-03-05 19:20] njmattes opened #20 "ST_PixelAsCentroids"
@ricardobarroslourenco @legendOfZelda: Is it possible to make `ST_PixelAsCentroids` return *all* bands from a raster? I've been playing with something like the following to return info from the database in a format that can be converted to JSON in the python middleware, so that's useful for drawing the GUI.

[code]

This seems to work alright, but only gives a single band. It's possible to draw a

[2016-03-05 23:12] ricardobarroslourenco commented on #20
@njmattes is this table `grid_data` stored at the current database `ede`? I was trying to look at it.
Perhaps we could iterate over the bands. Or dump, if it is just a column...

[2016-03-06 00:03] njmattes commented on #20
@ricardobarroslourenco Looks like the database on the server is a couple steps behind the `develop` branch. I've been testing locally today (was at a kids chess tourney all day). The `netcdf_data` table on the server has a similar layout though.

I think the bands are tucked away inside the binary `rast` column (by tile). Which is what's making things a bit difficult. I think we're trying to stick

[2016-03-06 00:09] legendOfZelda commented on #20
let's see...

[2016-03-06 00:17] njmattes commented on #20
Sorry about that—my sessions should be gone now.

[2016-03-06 01:19] ricardobarroslourenco commented on #20
Yeah. Me either (I've just dropped it)

[2016-03-06 01:31] legendOfZelda commented on #20
we've basically got these options:

* call ST_PixelAsCentroids in a for loop where in each iteration we use another band number
* we call ST_PixelAsCentroids once to just get the coordinates + in a for loop to get only the values
* we use ST_PixelAsCentroids to get the coordinates + ST_DumpValues to just get the values (for all specified bands which works since ST_DumpValues allows us to specify m

[2016-03-06 01:33] ricardobarroslourenco commented on #20
@legendOfZelda nice. I was thinking on this last option (without specifying a band) when posted before.

[2016-03-06 01:33] legendOfZelda commented on #20
yes, that's what i thought you meant, cool :+1:

[2016-03-06 15:24] njmattes commented on #20
Some more questions:

* Do the 10 &times; 10 tiles (always) move left-to-right, top-to-bottom in ? Ie, is `x = 1, y = 1` the top left corner of the data?
* Is the output of `ST_DumpValues` (always) ordered left-to-right, top-to-bottom? Otherwise there's no way to associate a 10 &times; 10 tile of values with a pixel.
* I'm seeing a lot of `{{ NULL, ... }, .. }` entries. Isn't the default behavior

[2016-03-07 22:43] njmattes opened #21 "Stored procedures."
Started a branch for stubbing out the various stored procedures we need. In order to minimize network traffic, we'll want to return only the data within the user's viewport. Probably best to pass a bounding box as an argument to the stored procedures.

Hack away!

[2016-03-07 23:39] njmattes opened #22 "Aggregation methods, polygon tables"
@ricardobarroslourenco Once we have a finalized procedure for returning a raster of values, we should finish at least one procedure for aggregating those to polygons. But we don't yet have polygons, I just realized. We need to sort out a way to store these ASAP. @legendOfZelda Do you know if plenario has an ingestor for Shapefiles already in place?

[2016-03-08 12:40] ricardobarroslourenco commented on #20
The 10x10 tiles I think it is something related to an OGC compliance standard, no? When talking about the rotation order, this always comes on mind.

About the raster type, I think this goes into that discussion of data regularization that Raffaelle brought at the all hands meeting. I think this will need to be done prior to ingestion, and looking into some things such as the downscale methods tha

[2016-03-08 17:32] cszc commented on #14
Hi All. Just seeing these comments now. For some reason, it's been difficult to sort out when I've been tagged... I think I need to filter my alerts a little better.

I'm doing the first interview with Joshua today. Would be happy to go over the results this week or next.

Also @njmattes, I was thinking about the future problem of allowing users to search the metadata. Have you considered using a

[2016-03-08 17:44] #8 closed

[2016-03-08 17:44] ricardobarroslourenco commented on #14
@cszc some time ago I've been looking into `Elasticsearch` for geospatial usage, but I've stopped this effort for now, because of our current development. But it is an interesting idea to use some `Lucene` based tool to map `JSON` data. While attending Elastic-on last year, I saw an application that coupled ES with traditional `Oracle 10` database for faster search. Perhaps on a near future, we co

[2016-03-08 18:01] ricardobarroslourenco commented on #22
@njmattes there is a `shp2pgsql` (such as the `raster2pgsql`) described in a [tutorial](http://revenant.ca/www/postgis/workshop/loadingdata.html). I saw that is also possible to get a `GeoJSON` compliant polygon and ingest. The shapefiles to ingest would be the `GADM` regions?

[2016-03-08 18:14] njmattes commented on #22
Yes I think we can start with just the GADM0 regions.Unless it's easier to ingest all of them (GADM1, GADM2) at once. Joshua's mentioned FPU regions, but I don't have outlines for those.

[2016-03-08 18:20] njmattes commented on #14
@cszc Yes, at some point a proper search implementation like that would rip. Perhaps we should start a fresh issue for discussing search implementation. And @cszc feel free to start as many issues as you want to discuss whatever comes up. I'm actually not used to using GitHub's issues, so my apologies if I'm  not using this in a way that's useful for everyone.

[2016-03-08 18:34] ricardobarroslourenco commented on #22
@njmattes we could load them in batches. Specially if something goes wrong, and we need to rollback. Do we have all those shapefiles already downloaded, or we still need to do so at the [GADM website](http://www.gadm.org/country)?

[2016-03-08 22:30] njmattes commented on #22
I don't have the GADM files anymore (they're huge). You can download the entire world here: [http://www.gadm.org/version2](http://www.gadm.org/version2).

[2016-03-09 00:56] ricardobarroslourenco commented on #22
@njmattes  I've created a folder at `/var/www/gadm` and downloaded the entire world there (by the way, super fast - 334MB in 14s). It is still zipped, and I would like to hear from @legendOfZelda if he tried to ingest shapefiles on his tests, and if we need to change something prior to ingest.

[2016-03-09 05:13] legendOfZelda commented on #21
yes, that's good. btw, to get the tiles that intersect with a bounding box viewport, see query 1 in #9

[2016-03-09 05:16] legendOfZelda commented on #20
under construction...

[2016-03-09 05:16] legendOfZelda commented on #22
under construction...

[2016-03-09 15:23] ianfoster commented on #14
Steve Tuecke and I are discussing ways in which we can add search and discovery features to Globus. The basic idea is to allow users to associate metadata with arbitrary files and directories on their endpoints (e.g., via ".gmeta" JSON files); we will hoover that up and index it, perhaps via ElasticSearch or similar. We want to start some prototyping in the near future, and then engage some high s

[2016-03-10 00:30] njmattes commented on #14
Would absolutely rip if this 'metadata searching' could be solved in similar ways in each project. @ricardobarroslourenco you must be happy that Elasticsearch keeps coming up in discussions lately!

[2016-03-10 00:36] njmattes commented on #21
So, my ignorance of stored procedures leads me to ask more questions. When it comes to subselecting only pixels in the user's viewport:

Is there any reason not to call one stored procedure from another? Ie, I have one that creates a polygon from 2 lats and 2 lons:

[code]

Then one that uses that to eg select centroids:

[code]

Is that kosher?

[2016-03-10 00:41] njmattes commented on #21
Also, I presume a polygon made in such a way is made from four great circles (as it would be in `d3`)? So with an equirectangular projection you wouldn't wind up with a rectangle, but something like an unwrapped truncated cone? Is there a faster way using PostGIS to ensure a projected rectangle rather than adding multiple points along the northern and southern edges of the bounding box?

[2016-03-10 16:01] ricardobarroslourenco commented on #14
Glad to hear this @ianfoster . People at` Elasticsearch` are doing an interesting job, on several domains. Recently they made public the videos from their last conference, and [there are some interesting talks](http://p.brightact.com/p/1456781272740557?e=rlourenc@mail.depaul.edu&rep=CamilaZimmerman&mkt_tok=3RkMMJWWfF9wsRonuq3IdO%2FhmjTEU5z17OQsXKSxiokz2EFye%2BLIHETpodcMTcJgMb7YDBceEJhqyQJxPr3NLdMN

[2016-03-10 19:46] legendOfZelda commented on #21
the code above runs through and calling stored procedures within other stored procedures should be fine, but let's ask @TanuMalik here to be safe.

not sure i understand the other question. i mean if the user selects a quad in a d3 viewport and we use an equirectangular projection then we are going to end up with a rectangle on the plane, aren't we?

[2016-03-11 00:39] njmattes commented on #21
If we assume that the polygon is constructed by connecting the points by the shortest lines, then all four edges of the bounding box will be great circles (like how a plane from NY to Copenhagen flies further north in order to get the shortest route).

So if we pass the SW, SE, NE, NW corners of the viewport, the segments `SE->NE` and `NW->SW` should be fine because longitudinal lines are great ci

[2016-03-11 04:57] legendOfZelda commented on #21
hmmm, but why do we assume that 'the polygon is constructed by connecting the points by the shortest lines' in the first place? i mean if we use `d3`'s 'Plate Carrée' and the user drags on that 'Plate Carrée' viewport, then taking the SW, SE, NE, NW corners of the viewport is correct.

[2016-03-11 05:20] ricardobarroslourenco commented on #21
@legendOfZelda the thing on using `Plate Carrée` is that assumes the usage of a `Equirectangular` projection, which is not the case, because we are working on the WGS84 Coordinate System (that assumes, usually, an `Azimuthal` or `Orthographic` projections). @njmattes which one is currently implemented on ATLAS?

I need a little of time to think on the projection issue. Usually the database is able

[2016-03-11 15:38] legendOfZelda commented on #22
i ingested the `.shp` file into a table called `regions` using `ogr2ogr`. the table with its columns was created by `ogr2ogr` itself but we don't really want all these columns. all we need is a primary key, geom, and a JSON with the metadata (that can contain the geometry again, not super efficient in space but is convenient).

[2016-03-11 17:08] ricardobarroslourenco commented on #21
Actually I made a mistake on this assumption. I was looking into the ATLAS code, and it seems that we use an `Equirectangular` projection, at `atlas-viewer/atlas_web/static/js/grid.js`.

However, when displaying, we have some sort of Azimuthal projection, and probably the parameters acquired from the viewport would reflect that. I've got confused in this. @njmattes are we using a "base" projection

[2016-03-11 17:50] njmattes commented on #21
Sorry, we have an on-campus interview happening today, so I won't be able to look to deeply into this until the weekend. But I'm pretty sure that the current version of ATLAS only uses equirectangular. The old prototype used three projections each at a different scale. But I don't remember off the top of my head what they were. Highest zoom level was equirect though.

[2016-03-15 04:55] legendOfZelda commented on #20
@njmattes why would we want to all timeframes of a raster inside python? why wouldn't we instead write out the raster with all its timeframes as a GeoTIFF as described here:
http://gis.stackexchange.com/questions/78086/how-to-export-raster-from-postgis-enabled-db-as-gtiff-with-gdal-translate (it works, just tested it)
and then send that as an ordinary file to the user?

[2016-03-15 17:54] legendOfZelda opened #23 "queries that finally work"
@njmattes @ricardobarroslourenco
finally, these are the PostGIS queries for the user's queries 1,2,3,4 in #9 (denoted as (1), (2), (3), (4) below) as well as the query in #20 (denoted (5) below) along with the beginning of their outputs:

(1)
[code]

[code]

(2)
[code]

[code]

(3)
[code]

[code]

(4)
[code]

[code]

(5) and this is the query for #20:
[code]

[code]

[2016-03-15 18:01] ianfoster commented on #23
Hurrah!

On Mar 15, 2016, at 12:54 PM, Severin Thaler <notifications@github.com<mailto:notifications@github.com>> wrote:

the following queries work and should be close to what you got with MongoDB:

  1.  SELECT ST_AsText(geom), val FROM (SELECT (ST_PixelAsCentroids(rast)).* FROM grid_data WHERE ST_Intersects(rast, ST_Polygon(ST_GeomFromText('LINESTRING(-180 -90, 180 -90, 180 90, -180 90, -180 -9

[2016-03-15 21:40] njmattes opened #24 "Standard for API JSON reponses"
[code]

[2016-03-15 21:57] njmattes commented on #24
@legendOfZelda I think the first post in this thread is about the minimum for a response. I'm leaving the JSON blob in ints own post so we can edit it as we need revisions.

The `response.data` key should contain an array of GeoJSON objects. Note that the values in `response.data[i].properties.values` have been rounded. This is so that the size of the response is manageable. The amount of rounding

[2016-03-15 22:32] legendOfZelda commented on #24
so the question is whether we should allow individual users to choose the accuracy of lat, long, value, min, max, etc. + number of bins for histogram VS having those hardcodedly configured on the server for all users?

[2016-03-15 22:36] legendOfZelda commented on #23
yep, also got query 4 to work finally. working on the geojson specification now, see #24.

[2016-03-15 22:39] legendOfZelda commented on #9
queries work and are written down in #23 with new schema for `grid_data` though that has a time column + only stores 1 timeframe in a `rast`.

[2016-03-15 22:39] #9 closed

[2016-03-15 22:40] legendOfZelda commented on #20
this problem is now solved, see query (5) in #23

[2016-03-15 22:40] #20 closed

[2016-03-15 23:07] njmattes commented on #24
It wouldn't have to be chosen by the user—it can be hard-coded into the request by the application. At some point, perhaps EDE becomes the backend for a service other than ATLAS that isn't web-based, and prefers higher accuracy. Putting it in the request (or response for that matter) merely allows one to track the presentation of the data. If it's not in the blob at all, it's unclear whether the u

[2016-03-15 23:44] legendOfZelda commented on #24
yes. how about we allow for an accuracy parameter (number of decimals) in the JSON request that is uniform, i.e. for `lat`, `long`, `values`, or one for `lat,long` and one for `values` and then we can use `st_x`, `st_y`, `ROUND` within postgis to round according to the number of decimals in the request...

[2016-03-16 00:12] njmattes commented on #24
Moved accuracy parameters to the `request`. We don;t want them in `request.data[i]` because we want to avoid duplicating any redundant information in each pixel from the raster.

[2016-03-16 00:13] legendOfZelda commented on #24
oops, yep, absolutely

[2016-03-16 00:16] njmattes commented on #24
Incidentally, as far as development timeline considerations go, the `request` portion of this blob can be ignored for the time being. Eventually we'll want to return that info with the response so we can verify the responses. But the ATLAS GUI doesn't absolutely need it.

[2016-03-16 00:19] legendOfZelda commented on #24
ok. btw, i'm going to write a little python code to extract from postgis and construct geojson according to above specs. the queries i'm using will be #23

[2016-03-16 12:58] njmattes opened #25 "Standard for API requests"
URL prefix: `/api/v0/`

* return metadata of gridded datasets corresponding to `IDs`
`gridmeta?ids=[list of IDs]`

* return raster values within specified polygons & times
`griddata/meta_id/var_id/select?polygons=[list of poly IDs]&times=[list of time IDs]`

* aggregate spatially within specified polygons & times
`griddata/meta_id/var_id/aggregate/spatial?polygons=[list of poly IDs]&times=[list of

[2016-03-16 13:06] njmattes commented on #25
Need to standardize URLs for making requests to the API. Since we're trying to make this RESTful, these need to work over `GET`, not `POST`, so they can be cached. Hence the parameters in the URLs rather than in the body.

Coordinates for the bounding boxes are clockwise from the north because that's how CSS works so is what I'm used to, but @ricardobarroslourenco maybe there's a more typical way

[2016-03-16 13:12] njmattes commented on #24
Looping in @ricardobarroslourenco. This basic format can also be used for results from aggregation as well. It's probably obvious, but changing `response.data[i].geometry.type` to `Polygon` or `MultiPolygon` and modifying the `coordinates` as necessary—and changing `response.metadata.format` to `poly`.

[2016-03-16 16:42] legendOfZelda commented on #25
@njmattes made some changes to URLs above.
* we not only need to specify which dataset (through `dataset=integer`) but also which variable within that dataset (`variable=string`). i thought about using the integer id to specify the variable. however, after the user issued the first URL he can't know the variable ids, only their names.
* for the time being i'd say let's focus on request for fixed t

[2016-03-16 21:15] njmattes commented on #25
For the third, I'd rather limit the polygons to only those that intersect the bounding box—in order to keep the size of the request small (there's no point in sending the entire globe in the response, if the user can only see SE Asia).

We'll need a way to specify polygons based on something other than GADM level, since eventually we want other polygon sets. It may be that eventually we need a `po

[2016-03-16 21:18] njmattes commented on #25
Also, for `time` I think we'll want `start_time` and `end_time`. And perhaps with should pass 0-indexed time steps, rather than timestamp strings. Strings will have to be URL encoded making them ugly, and they take up unnecessary space. The client should be able to determine the index from the metadata.

[2016-03-16 21:24] njmattes commented on #25
If we're retrieving only a single polygon, do the polygons have an `id` attribute?

[2016-03-16 21:48] legendOfZelda commented on #25
if we use a single table

[code]

for the regions we should be fine because into the json field we can put whether it's a `GADM` region and if so which level, etc. all kinds of regions should be well-representable with this table.

[2016-03-16 22:53] legendOfZelda commented on #25
to handle the mapping from user-friendly timestamps to logical times, i.e. 0-based index i suggest we use:

[code]

[2016-03-17 15:18] njmattes commented on #25
I think the regions meta is a bit backwards. I think `regions_meta` should really be something like `regions_geom`, and `regions_gadm` should be `regions_meta`. `regions_gadm` is a bit too specific because we'll also have non-GADM regions (someone might prefer regions from Natural Earth, or food producing units, etc.).

You're probably right that we'll need a table to map timesteps, but I think we

[2016-03-19 19:38] ricardobarroslourenco commented on #25
@njmattes about the orientation of polygon building, OGC into their [OpenGIS Implementation Specification for Geographic information - Simple feature access - Part 1: Common architecture](http://portal.opengeospatial.org/files/?artifact_id=25355), specify that on closed polygons, when representing the inner part, the orientation will be clockwise, and the outer part, counterclockwise.

Just to cla

[2016-03-19 19:47] ricardobarroslourenco commented on #24
For me this `JSON`, with a nested `GeoJSON` seems to be fine. About the changes in terms of the geometry type of what it is being contained in the `GeoJSON`, I think that it won't impact much. Perhaps using a python library would help keeping the standard, but actually it is trying to keep the multiple formats presented on its current [specification](http://geojson.org/geojson-spec.html).

[2016-03-19 19:51] ricardobarroslourenco commented on #23
Sorry about the huge delay on answering. To me it seems really nice.
The only part is about database tuning, because it is taking about a minute while retrieving, but this can be done on a second stage.

[2016-03-19 19:53] ricardobarroslourenco commented on #22
As said on monday, for this prototype, it is ok to use `ogr2ogr`. But on a further iteration should be interesting to replace into a more customized function, to avoid the generation of blank columns.

[2016-03-24 23:53] njmattes commented on #25
Hate to bug anyone during spring break, but how are the python methods going for these operations?

[2016-03-25 02:44] ricardobarroslourenco commented on #25
Hey @njmattes ! Just came back yesterday from NYC, and today was reading the spatiotemporal paper. It seems to be somehow close in terms of operations we need to implement. My idea is to get that SQL code from Fig. 3, adapt to our data model, and see if it runs accordingly. For the API calls, I'll probably need some help from you and @legendOfZelda specially, to not mess up the system organization

[2016-03-25 16:47] njmattes commented on #25
Hope you had a good time in NY @ricardobarroslourenco! If you and @legendOfZelda can sort out the SQL and get the python started that turns the results into JSON output, I can wire up the API endpoints in flask. We just need something to wire them to ;-)

Interesting that the d2 (tiled & unstacked) method from the paper seems to be the one we're using now. Hopefully that's a good sign.

[2016-03-25 16:58] ianfoster commented on #25
great, I look forward to seeing it.

A perhaps dumb question, but I saw a demo yesterday of OpenSeaDragon, is this something you have ever considered for the map viewing?

On Mar 25, 2016, at 11:47 AM, Nathan Matteson <notifications@github.com<mailto:notifications@github.com>> wrote:

Hope you had a good time in NY @ricardobarroslourenco<https://github.com/ricardobarroslourenco>! If you and @legen

[2016-03-25 17:02] njmattes commented on #25
OpenSeaDragon looks pretty cool. It looks though like it's designed for raster graphics. And while we're using raster data, it's actually being drawn as *vector* graphics in the browser—so that we can retain access to the stats for each pixel. So each pixel is its own interactive object that the user can access.

[2016-03-25 17:03] ianfoster commented on #25
Ok, I wondered about that. Thanks.

On Mar 25, 2016, at 12:02 PM, Nathan Matteson <notifications@github.com<mailto:notifications@github.com>> wrote:

OpenSeaDragon looks pretty cool. It looks though like it's designed for raster graphics. And while we're using raster data, it's actually being drawn as vector graphics in the browser—so that we can retain access to the stats for each pixel. So each

[2016-03-25 20:14] legendOfZelda commented on #23
yep.

[2016-03-25 20:38] legendOfZelda commented on #25
ok, im writing up a python script with one method per query we've discussed so far and producing the JSON. once i have that i know the exact input arguments i need and then i can pass that on to you @njmattes so we can finish the specification of the JSON request format. will let you know when i am done with it tonight.

[2016-03-25 20:40] njmattes commented on #25
Fantastic. Thanks!

[2016-03-25 20:48] ricardobarroslourenco commented on #25
@njmattes it was a nice and refreshing trip :)

I'm working on the SQL part today. I hope that I'll be done with this by today/tomorrow. Then I'll probably move to the integration part.

[2016-03-25 20:49] legendOfZelda commented on #25
hm wait, isn't there now quite some overlap on what we're working on: me and @ricardobarroslourenco?

[2016-03-25 21:05] njmattes commented on #25
I don't know. You guys tell me. I thought @ricardobarroslourenco was working on aggregating to the polygons and stats.

[2016-03-25 21:07] ricardobarroslourenco commented on #25
Yes, this is what I'm working on (aggregations/stats).

[2016-03-25 21:11] legendOfZelda commented on #25
ok. i was planning todo all queries though, i.e. the ones in #23 and in this post, i.e. #25.

[2016-03-25 21:14] njmattes commented on #25
Because we're at a point where we need *any* queries, @legendOfZelda why don't you work on selecting rasters within bounding boxes and timesteps between start and end points. @ricardobarroslourenco work with aggregating to polygons within a bounding box. That's all we absolutely need for version 0. But we really need to get those things done.

[2016-03-25 21:16] legendOfZelda commented on #25
ok

[2016-03-26 02:32] legendOfZelda commented on #25
@njmattes @ricardobarroslourenco i wrote some extraction+json construction methods for each of the queries we've discussed so far, see `extract/extract.py`

[2016-03-26 02:52] ricardobarroslourenco commented on #25
@legendOfZelda it seems to be ok (I've just replaced the `/ede/credentials.py` and ran it through pycharm). Right now, does any other module calls `/ede/extract/extract.py` ?

[2016-03-26 03:03] legendOfZelda commented on #25
no other module uses `ede/extract/extract.py` yet

[2016-03-26 12:44] njmattes commented on #25
Cool. I started a new branch called `proto_api`. We shouldn't really code directly on the `develop` branch.

Added a method to construct the base JSON response, just to avoid repetition. Perhaps we should use stored procedures in Postgres rather issuing queries on the fly?

Also added a simple try/except to the first request as an example—we should send 500 status codes if a query fails. Eventuall

[2016-03-26 14:43] ricardobarroslourenco commented on #25
Stored procedures should be an interesting optimization. I'm reading through this [tutorial](http://www.postgresqltutorial.com/postgresql-stored-procedures/). Is it ok for this @njmattes ?

Procedures/methods list and return codes list are good to use, because of exception control and logging.

[2016-03-26 15:35] njmattes commented on #25
Yes that looks good. You might also look at the `stored_procedure_stubs` branch of the repo, in the `sql` folder. I started some aborted procedures a few weeks ago. They likely no longer conform to the current data schema, but they might be useful as some 'starter' code.

The difficulty introduced perhaps by stored procedures is that it may prove slightly more tedious to parse the results into JSO

[2016-03-26 15:49] ricardobarroslourenco commented on #25
Ok. I'll look into it. Should we merge `stored_procedure_stubs` into `proto_api` ? And then, after work, clean up prior to `development` merge? It is a lot of branches right now...

[2016-03-26 15:50] njmattes commented on #25
Sure, merging those two is a good idea.

[2016-03-26 15:56] ricardobarroslourenco commented on #25
Alright. I've done that. I'll be writing my tests on pgAdmin prior to put them in the repo.

[2016-03-28 17:21] ricardobarroslourenco commented on #25
Well. I think that we have an aggregation by mean in space. I just need to check-out if it's proper. @njmattes is coming now in the beginning of the afternoon, and we will review it. It is like this (but passing arguments):

[code]

I just pushed the code into the repo.

[2016-03-29 21:10] legendOfZelda opened #26 "basic API"
@njmattes @ricardobarroslourenco the first API call is working, you can test it via
`wget http://[our IP]:5001/api/v0/griddata/1/1`
it takes quite a while because it's asking for all the data for ingested NetCDF `#1` and variable `#1`,
see `views.py`. i am finishing the remaining http routes this afternoon and let you know when you can play with all of them.

[2016-03-30 00:11] #26 closed

[2016-03-30 03:04] legendOfZelda commented on #22
how about this schema here?

[code]

to support `GADM`, `EEZ` (Exclusive Economic Zones Boundaries), and others, e.g. the ones mentioned in http://www.gadm.org/links

[2016-03-30 03:30] legendOfZelda commented on #25
i updated the Flask API above. i don't want to use actual polygons / dates in the URL but instead only work with IDs. that's why for the polygons i'm planning to create the tables mentioned in #22 and for the times:

[code]

[2016-03-31 21:27] legendOfZelda commented on #25
i am now working with the additional `times` table above and have adjust the ingestion script accordingly. of course i will also adjust the queries but at it should be much more convenient now because we don't need date strings in the request URL anymore.

[2016-03-31 21:30] legendOfZelda commented on #22
i am almost done with writing the ingestion script for shapefiles such as for GADM, EEZ (exclusive economic zones), etc. once we have these tables filled up we can specify polygons by ID which again is convenient when specifying the flask URL.

[2016-04-01 02:11] legendOfZelda commented on #22
ok, ingestion into above 2 tables works, just ingested `EEZ` (`GADM` works too but it just takes too long as for now). now i can continue with the flask routes and within the urls i can conveniently use polygon IDs.

[2016-04-01 13:26] ricardobarroslourenco commented on #22
Nice. How long did it take to load? I just arrived at the CI and I'll be reviewing stuff.

[2016-04-01 14:05] legendOfZelda commented on #22
took roughly 5' to ingest `EEZ` but im still ingesting one polygon at a time, so lots of potential to speed it up. it's all yet still in the `severin` branch, not yet merged into `develop`. the new tables are, as usual, in `models.py` and the shapefile ingestion script is `ingest/ingest_shapes.py`.

[2016-04-01 14:20] ricardobarroslourenco commented on #22
Ok. I'll look into the `severin` branch. I'll be also reviewing the architecture we are using as @njmattes asked on monday.

[2016-04-01 16:00] ricardobarroslourenco commented on #22
@legendOfZelda about the `/ede/cache_builder.py`, is it a cache that gets records in space, but caching all time frames that are present?

[2016-04-01 17:19] legendOfZelda commented on #22
hm, haven't looked into `cache_builder.py` yet, but we can discuss it today.

[2016-04-01 18:53] ricardobarroslourenco opened #27 "Documentation - UML Diagrams, Data Model and so on..."
@njmattes @legendOfZelda @abrizius
Today after our meeting, I'll start to summarize our efforts at EDE. The idea is to have considered on our diagrams:

- Current Data Model (and revisions);
- Component Architecture Diagram;
- Our use cases, and the components involved;
- Others (please suggest);

I think this would help to set goals, dues, and to keep on track during our development. I personally

[2016-04-03 18:15] legendOfZelda opened #28 "Basic Flask API"
a basic flask api is working, i am just filling up the database with some data so we have more to query (had to wait with ingesting more data until i was sure the data model works/is convenient for the flask api) which should be done by tonight. once that's done you will be able to issue the following `GET` requests:

Metadata
* `wget http://[IP]:5000/api/v0/gridmeta`
* `wget http://[IP]:5000/api/

[2016-04-04 12:36] njmattes commented on #28
`http://[IP]:5000/api/v0/griddata/select/1/1`

I'd kill the `/select/` since the `http` method should represent the action (create, retrieve, update, delete).

If the variable's `id` is to be passed in the URL, I'd precede it with a parameter name so the URL remains human readable. Ostensibly we're treating the `meta_id` as the identifier of the `griddata`. So something like `http://[IP]:5000/api/

[2016-04-04 14:15] njmattes commented on #28
For the select endpoint, when you say 'cannot specify only date or only geom', doesn't the first endpoint (`wget http://[IP]:5000/api/v0/griddata/select/1/1`) only specify date?

For spatial aggregation (`http://[IP]:5000/api/v0/griddata/aggregate/spatial/1/1`) how are we specifying regions to aggregate to? Admittedly, I haven't looked at `extract.py` lately. Do we only have one region set ingeste

[2016-04-04 14:16] njmattes commented on #27
Check out [yED](https://www.yworks.com/products/yed).

[2016-04-04 14:38] legendOfZelda commented on #28
ok, the flask service is running, just adjusted the urls above a little.

ok, @njmattes, im incorporating your suggested changes.

to answer your questions:
* the first `1` is the `meta_id` and the second `1` the `var_id` so that `URL` does neither specify `date` nor the `geom`
* i have not ingested regions yet though the `ingest_shapes.py` script is working and i could ingest regions anytime such

[2016-04-04 14:49] njmattes opened #29 "Return metadata uid's in API response"
@legendOfZelda We need to also return the `uid` for each metadata object when users make requests to `/api/v0/metadata/<intlist>`. This is so the `uid` exists on the frontend and can be added to future requests.

[2016-04-04 15:16] njmattes commented on #28
* Oh right, `var_id`. Derp.

* I'm not sure what went on Friday. But I thought that part of prototype version 0 was to aggregate a gridded dataset to GADM0. Are we moving away from that? Doesn't matter to me either way really, but just curious.

[2016-04-04 15:19] legendOfZelda commented on #29
but the `intlist` in `/api/v0/metadata/<intlist>` already contains the `uid`'s so the users already need to know them prior to issuing `/api/v0/metadata/<intlist>`. so we should rather return the `uid`'s already in the response of a `/api/v0/metadata/` request

[2016-04-04 15:22] njmattes commented on #29
We need to return them for `/api/v0/metadata/`, and for the sake of symmetry (and validation) we should return them for /api/v0/metadata/<intlist>` as well. Also because it's not transparent that if I request `3,7,1` if those are returned in the order requested, or in ascending order, or in the order their keys were last accessed in the db, etc.

[2016-04-04 15:31] legendOfZelda commented on #28
we still want aggregation to GADM but also want aggregation to a polygon that's provided directly by the user. it's just that we probably need two separate flask routes for that, one where the polygon is specified by IDs and one where it's provided directly.

[2016-04-06 20:25] legendOfZelda commented on #23
these queries are incorporated

[2016-04-06 20:25] #23 closed

[2016-04-06 20:33] legendOfZelda opened #30 "TODO for today"
* incorporate Nate's suggestions for flask api: #28 + #29 X
* ingest GADM + EEZ regions into regions + regions_meta X
* add flask routes to query polygons by ID only X
* add flask route to aggregate to GADM region by ID X

[2016-04-06 20:54] legendOfZelda commented on #28
@njmattes are you saying that most routes (except for metadata) should be reachable with a `GET` as well as `POST` or only `POST`?

[2016-04-07 13:14] njmattes commented on #28
The method we're using should really indicate the type of operation we're performing. Typically `POST`=Create, `GET`=Retrieve, `PUT`=Update, `DELETE`=Delete (or `CRUD` for short). I'd say use `GET` for retrieving metadata, and `POST` for creating 'new', cropped views of the gridded data.

[2016-04-07 13:17] njmattes commented on #28
I hadn't really thought through the `get_polydata` route. But yes, just returning a GeoJSON representation of the object is probably a good approach.  We'll need such a feature is we want to grab the objects we're using as a graphical overlay from the database rather than storing them locally on the web server.

[2016-04-08 15:48] legendOfZelda commented on #30
@abrizius incorporated @njmattes's improvements + added support for GADM, etc. aggregation. now moving on to speeding up ingestion script

[2016-04-11 19:43] cszc opened #31 "Prioritized List for EDE v. 0.0.1"
Quick list of what I think we need for a first version to show interviewees. I think some of these may have already been completed. We can discuss at the meeting if we need to add/take away anything.

Front End:

- [ ] Human Readable Labels for Datasets
- [ ] Additional Countries
- [ ] Pan and Zoom
- [ ] Color Key
- [ ] Formatted Metadata
- [ ] Different Resolutions

Queries:

- [ ] Compare 2 Data

[2016-04-11 23:39] legendOfZelda commented on #28
@njmattes ok, just merged `severin` branch into `develop`. if you run `python run.py` flask will be up and running and all the `GET`s should work, haven't debugged the `POST`'s yet though. im continuing in `severin` with the ingestion script.

[2016-04-12 15:40] njmattes commented on #28
Cool. I'll work out the rest of the API features for these routes this week. I'm also going to set up a `uWSGI` script to launch the web interface for the API. Will make it easier to start and reboot. I'll send you the command(s) once it's done.

[2016-04-12 15:40] #28 closed

[2016-04-19 13:44] #30 closed

[2016-04-19 13:47] legendOfZelda commented on #29
@njmattes just wanted to tell you that i put back the:

* 'request' and 'response'
* 'units'
* requested 'url'

fields into the response json.

[2016-04-19 13:49] njmattes commented on #29
Righteous. I've got some changes to the API locally that haven't been pushed yet. I just finished the bulk of my duties for these ongoing faculty searches, so should be back to EDE / ATLAS this week. Which branch are these changes on? I'll merge before I push everything.

[2016-04-19 13:51] legendOfZelda commented on #29
in 'severin' and already merged into 'develop'

[2016-04-19 13:53] njmattes commented on #29
Ah cool. I'll just pull and merge then. Thanks.

[2016-04-25 16:38] #29 closed

[2016-04-25 16:40] njmattes opened #32 "Return grid data by arbitrary polygon"
Looks like we have methods for returning data either by the `uid` of a stored region, or we're returning all the data for the globe. (This latter request seems to time out before it completes.) We also need a way to retrieve a selection within an arbitrary rectangle.

[2016-04-25 17:03] njmattes opened #33 "Spatial aggregation without specified polygon"
When `return_griddata_aggregate_spatial()` is called without a polygon, it looks like it's aggregating everything to the entire surface of the globe. Including oceans.

If we're going to do this by default, should we add zero fills in the oceans? Of course, that doesn't make sense for atmospheric or oceanic data.

Should each dataset have a specified default regionset for spatial aggregation?

[2016-04-25 19:38] njmattes opened #34 "Associate griddata results by centroids"
Instead of returning the following for two points with two values each,

[code]

we should be returning single points with all values for that point in a single array of values like

[code]

[2016-04-26 00:35] legendOfZelda commented on #34
ok. how should we deal with NULL values at this point, e.g. what if the point (39.75, 34.75) only has one non-null value 195 at "1980-01-01 00:00:00" and (39.25, 34.75) only has one non-value as well, say 190, at "1980-12-31 00:00:00".

should i return:

[code]

or

[code]

[2016-04-26 00:46] joshuaelliott commented on #34
In an aggregation null values should be ignored. So if you are averaging 35 grid cells in a given region for a given time and 5 of the values are null, the average should simply be calculated over the other 30 values ignore those 5. only if all 35 values are null should the resulting aggregated value be null. is that what you were asking?

[2016-04-26 00:49] joshuaelliott commented on #34
different statistical operations would require different minimum numbers of non-null values. for example if you are calculating a standard deviation over a set of data, i think you would require at least 3 non-null values.

[2016-04-26 00:52] ricardobarroslourenco commented on #34
@joshuaelliott thanks for the clarification on the stats part. I think that @legendOfZelda  question is more on if he would treat the nulls on the database, or pass this to the middleware. Anyway, it is a guidance for the stats calculations that we'll be performing.

@legendOfZelda I think that passing the nulls should be interesting, specially to reflect that a certain timeframe has nulls and rep

[2016-04-26 15:34] njmattes commented on #34
I'd pass the null values to the middleware as JavaScript's `null` object. But if a centroid contains null values for each time step, you can avoid passing the centroid entirely.

[2016-04-28 19:43] legendOfZelda commented on #34
got it @njmattes

[2016-05-02 19:59] cszc commented on #31
May 2, 2016 Priorities (After switching to Mongo)
- [x] @cszc - get reasonable labels from Josh
- [ ] @njmattes - color keys
- [x] @njmattes - panning, zooming
- [x] @ricardobarroslourenco - integrate gadm regions
- [ ] @ricardobarroslourenco  - working on std dev, histogram, trend lines, point wise operations
- [x] @ricardobarroslourenco  - spatial aggregations for mean, min, max
- [x] @ricardoba

[2016-05-10 21:20] cszc commented on #31
## What Labels Should Look Like

harms: damages (full harm model, business as usual) to plants (RCP 8.5)
Climate Change Scenario/Forcing: RCP 8.5

WFDEI.CRU climate model: WATCH Forcing Data (WFD) by making use of the ERA-Interim

future: glossary

### Final

**Wheat_Anthesis_Model**
`irrigation` full_irrigation `harms` default `climate_model` wfdei.cru `crop` wheat `ag_model` papsim `variable` an

[2016-05-16 21:04] cszc opened #35 "Translate Metadat in Github Repo (in Atlas)"

[2016-05-17 14:33] njmattes commented on #34
In the new API responses on the newly created server, the pixels again aren't 'collapsed' so that multiple timesteps are contained in a single pixel. Ie, a single pixel appears 11k+ times in the dataset, each time with a single value. Instead they should appear only once, with a 11k+ long array of values.

In the aggregated responses there appear to be only single values rather than 11k+, one for

[2016-05-17 15:02] njmattes commented on #34
Perhaps it's possible for the time series to store only the first time step, and the size of the delta? Then in the middleware we can unpack that into values for the front-end? Of course irregular time series, if we have any or want to support any, wouldn't work.

[2016-05-17 15:27] joshuaelliott commented on #31
for this particular data, all this info is laid out in gory detail in the publication we wrote about GGCMI phase 1 protocols:
http://www.geosci-model-dev.net/8/261/2015/gmd-8-261-2015.html

the irrigation dimension has 3 possible settings. in some files its just
firr = fully irrigated
noirr = no irrigation (can also call "rainfed")
and in some files there is a 3 value call
sum = the weighted avera

[2016-05-17 16:13] ghost commented on #31
2 questions from me:
- are lat,lon,time,depth the only possible dimensions?
- do variables always only depend on (lat,lon), (time,lat,lon), (depth,lat,lon), or also on (time,depth,lat,lon) or others?

[2016-05-17 16:29] joshuaelliott commented on #31
for the gridded data its always (time,lat,lon) or (depth,lat,lon) i think. the time dimension can be anything from day to year of course (and sometimes even "season"). all other dimensions are produced as different files.

in theory there are other possible dimensions for some datasets. but i think this is pretty safe for now. for seasonal climate forecast products for instance there are additiona

[2016-05-17 17:12] ghost commented on #34
you're right, i haven't done it yet (except for temporal aggregation, naturally)! sorry about that, fixing it today along with cleaning up the code, in particular adding try-except's.

psims + agmerra have uniform time steps. however, gsde (soil data) doesn't have uniform depth steps.
so we could assume a uniform delta for time but not for depth. @joshuaelliott can we assume the time steps are uni

[2016-05-17 17:16] joshuaelliott commented on #34
i believe you can always assume uniform steps for time, yes.

depth dimensions generally don't have more than ~10 values. so probably you can just record depth explicitly? and then only treat time as this special case.

[2016-05-20 11:41] njmattes commented on #34
Sorry, I wasn't getting email notifications for this issue. Totally missed these comments.

Yes, by 'nesting' I meant something like you've got above @legendOfZelda.

I think depth and time can be treated the same way really, it's just that depth won't have multiple nested levels. Same for datasets like pAPSIM—with only 34 annual timesteps, it'd just be something like `[(1979, 1980, 1982, ... )]`

[2016-05-23 16:29] ricardobarroslourenco commented on #31
@cszc I have been discussing with @njmattes about how to represent Agmerra. The resolution is really high in depth, and it is still unclear on how we would represent this on screen. This is something related with an aggregation in depth? Does it make sense to group/bin this dimension?

[2016-05-23 16:42] joshuaelliott commented on #31
I don't think agmerra has depth. It has time though, is that what you mean?
For a map visualization we probably want to provide various aggregation
levels. Would be great if we could visualize daily, weekly, monthly,
yearly, decafal, etc averages, and then have a time scroller to run through
the data.

The other way we could do it is to have maps of monthly or annual or
whatever temp and then have

[2016-05-23 21:07] cszc commented on #35
@njmattes what format do you want the labels in? right now, i'm spitting this out in json, e.g.:

{
  'filename': 'papsim_wfdei.cru_hist_default_firr_aet_whe_annual_1979_2012.nc4',
  'harmonization_settings': 'default',
  'irrigation': 'full irrigation',
  'crop': 'wheat',
  'climate_data': 'WATCH Forcing Data (WFD) by making use of the ERA-Interim'
  'ag_model': 'PAPSIM',
  'variable_of_interest'

[2016-05-23 21:14] cszc commented on #35
instead of year, use timestart and timeend

@legendOfZelda  what time stamp are you using in your code?

[2016-05-23 21:16] cszc commented on #35
also may need to pass name of axis, e.g. time, altitude, level

[2016-05-24 03:20] ghost commented on #34
@njmattes
wget http://[IP]:5000/api/v0/griddata/dataset/1/var/1
should now return the right format, with, for every (lat,lon), the values in an array

[2016-05-24 03:29] ghost commented on #35
so far this is my format:
1995-12-28 00:00:00
should probably just use
1995-12-28

[2016-05-24 14:27] njmattes commented on #34
Sorry, but the response from the dev server is still a bit off. Now each point has its own dates and different lengths of values. The dates should be in the `metadata`, and each point should have the same amount of values, with `null` values where necessary. Any point that contains all `null` values should be dropped.

Perhaps details of the API are spread across too many threads at this point. I

[2016-05-24 14:44] TanuMalik commented on #34
@Severin: A group by will result in the nulls being dropped unless your query account for one. As I see the query does not.

@Nate: Do you want the exact position of nulls or simply a count?

Regarding API spec, yes we need a better way to handle these changes.

Tanu

On May 24, 2016, at 9:27 AM, Nathan Matteson notifications@github.com wrote:

[2016-05-24 15:02] njmattes commented on #34
@TanuMalik The `null` values should be in the correct positions so that they align with the datetimes in the `metadata` section.

[2016-05-24 17:31] ghost commented on #34
yep, i'm rewriting the query.
i'm adding a helper column to grid_dates that will help me locate where the non-NULL's are, expect to be done with it tonight.

[2016-05-25 22:28] ghost commented on #34
@njmattes done, you can test, takes longer now though, expect 2 mins, 20s roughly

[2016-05-26 15:10] TanuMalik commented on #34
@njmattes can you please confirm the format if it is ok?

On May 25, 2016, at 5:28 PM, Severin Thaler <notifications@github.com<mailto:notifications@github.com>> wrote:

@njmatteshttps://github.com/njmattes done, you can test, takes longer now though, expect 2 mins, 20s roughly

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHubhttps://github.com

[2016-05-26 16:15] njmattes commented on #34
I can have a look later today—I'm in class until 5ish.

[2016-05-26 22:15] njmattes commented on #34
Yep, this looks right. It runs too slow to actually hook up to Atlas though. The provisional Mongo backend is rounding the values to save space—that might help save time in the transfer. But not the execution itself I guess.

Unrelated to this, I notice that when I request `/api/v0/griddata/dataset/1/var/1`, I see `"region": [[-180, -90], [180, -90], [180, 90], [-180, 90], [-180, -90]]`. When I re

[2016-05-26 23:52] ianfoster commented on #34
I understand that the reason it is slow may be because we haven’t created indices. I don’t understand why that hasn’t been done. (I imagine that the database we are working with here is more complex than the MySQL on my laptop, but I create indices as a matter of course.) Is that planned?

On May 26, 2016, at 5:15 PM, Nathan Matteson <notifications@github.com<mailto:notifications@github.com>> wrot

[2016-05-27 00:51] ghost commented on #34
i did create indexes, all reasonable ones, including on the postgis raster field

[2016-05-27 02:56] ghost commented on #34
im improving the query now + the python code. hope to cut down the RT considerably, say certainly below a minute and proceed from there

[2016-05-27 03:08] ianfoster commented on #34
Interesting thanks!

On May 26, 2016, at 7:51 PM, Severin Thaler <notifications@github.com<mailto:notifications@github.com>> wrote:

i did create indexes, all reasonable ones, including on the postgis raster field

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHubhttps://github.com/RDCEP/EDE/issues/34#issuecomment-222034186, or mute the threadhttps://g

[2016-05-27 15:20] njmattes commented on #34
@legendOfZelda If you need help looking at the python, vectorizing operations, or anything like that, let me know.

[2016-05-30 14:15] njmattes commented on #34
@legendOfZelda I was just checking the responses from the server and I notice it's down. I think just not listening on port 5000. Did you change the port—or is it just down for a bit? If there's a problem with the `flask` I'm happy to take a look.

[2016-05-31 16:51] ghost commented on #34
@njmattes was just experimenting with it, it's running again

[2016-06-06 22:59] ghost commented on #34
@njmattes if you meant the .57 machine, im cleaning it up there now + restart, will let you know when up again.

[2016-06-07 16:45] ghost commented on #34
@njmattes it's up and running on the .57 machine. let me know if there's any issue.

[2016-07-14 23:48] ghost commented on #24
The specification is written up on apiary.io

[2016-07-14 23:48] #24 closed

[2016-07-14 23:51] legendOfZelda commented on #25
The specification is written up on apiary.io

[2016-07-14 23:51] ghost commented on #25
The specification is written up on apiary.io

[2016-07-14 23:51] #25 closed

[2016-07-15 00:04] legendOfZelda commented on #27
It's about time I read this :) I'm using yED.

[2016-07-15 00:04] legendOfZelda commented on #27
It's about time I read this :) I'm using yED.

[2016-07-15 00:04] #27 closed

[2016-07-15 00:05] ghost commented on #27
It's about time I read this :) I'm using Dia.

[2016-08-01 17:26] njmattes opened #36 "Access-Control-Allow-Origin"
API responses need to include an Access-Control-Allow-Origin header (which can have the value *) in order to support cross domain access from the ATLAS domain.

[2016-08-01 17:53] njmattes commented on #36
For the time being, I'm running the API behind uWSGI and NGINX, and adding this header in the NGINX configuration. It may be that we want to explicitly add it in the flask app so that it doesn't depend on the particulars of the deployment.